<% layout('layouts/layout'); %> <%- include('partials/navbar'); %>

<section class="" style="background-image: url(public/static/img/hero.jpg);">
  <%- include('./partials/search'); %></section>
<section class="px-4 pb-2">
  <h1 class="text-2xl font-bold py-5">Recently Added:</h1>
  <div class="grid sm:grid-cols-2  lg:grid-cols-4 gap-10">
    <% for(let park of latestParks) { %>
      <a href="/parks/<%park.id %>"> 
        <div class="shadow rounded-xl hover:shadow-xl">
        <img src=<%-park.imageLink %> class="w-full h-52 rounded-t-2xl">
        <div class="card-content">
          <h3 class="title"><%- park.title %></h3>
          <p><%- park.rating %></p>
        </div>
      </div>
    </a>
      <% } %>
  </div>
</section>
